<div class="main-comp-div" style="position: relative;">
    <div class="fixed-comment-filter">
        <div>
            <h2 class="dashbooard-title-padding">Comment</h2>
        </div>
        <div nz-row nzType="flex" nzJustify="space-between">
            <div nz-col nzSpan="8">
                <h4 style=" margin-top: 3px;">Showing 70 Responses</h4>
            </div>

            <div nz-col nzSpan="2" class="filter-comment">


                <p class="filter-padding">Filter <span class="filter-icon"><i nz-icon nzType="filter" nzTheme="outline" class="filter-i"></i></span> <span class="download-icon"><i nz-icon nzType="download" nzTheme="outline"></i></span></p>
            </div>

        </div>
    </div>
    <div class="notify-div">
        <div class="notification-div">
            <div nz-row style="padding: 15px 15px;">
                <div nz-col nzSpan="1">

                    <div class="comment-count-icon-one comment-icon">
                        3

                    </div>

                </div>
                <div nz-col nzSpan="23" class="comment-info">
                    <div nz-row style="padding-left: 25px;">
                        <span nz-col class="comment-person">
                    Digbijay singh -
                </span>
                        <span nz-col class="comment-email">
                    Digbijay.singh@neurosensum.com
                </span>
                        <span style="padding-left: 8px;">
                    <img src="/assets/images/salesforce-2.svg" height="15px" width="21px">
                </span>
                    </div>
                    <div class="comment">Because it saves a lot of time and is very easy to use.</div>
                    <div class="comment-status">4 Minute ago - Delhi,India - 6 Month Relationship - <span class="detractors-color-red">Detractors</span></div>
                    <div class="comment-reply"><img src="/assets/images/reply.svg"> <span class="reply-text">Reply</span></div>

                </div>
            </div>
        </div>
        <div class="notification-div">
            <div nz-row style="padding: 15px 15px;">
                <div nz-col nzSpan="1">

                    <div class="comment-count-icon-two comment-icon">
                        3

                    </div>

                </div>
                <div nz-col nzSpan="23" class="comment-info">
                    <div nz-row style="padding-left: 25px;">
                        <span nz-col class="comment-person">
                Digbijay singh -
            </span>
                        <span nz-col class="comment-email">
                Digbijay.singh@neurosensum.com
            </span>
                        <span style="padding-left: 8px;">
                <img src="/assets/images/salesforce-2.svg" height="15px" width="21px">
            </span>
                    </div>
                    <div class="comment">Because it saves a lot of time and is very easy to use.</div>
                    <div class="comment-status">4 Minute ago - Delhi,India - 6 Month Relationship - <span class="detractors-color-green">Detractors</span></div>
                    <div class="comment-reply"><img src="/assets/images/reply.svg"> <span class="reply-text">Reply</span></div>

                </div>
            </div>
        </div>
        <div class="notification-div">
            <div nz-row style="padding: 15px 15px;">
                <div nz-col nzSpan="1">

                    <div class="comment-count-icon-three comment-icon">
                        3

                    </div>

                </div>
                <div nz-col nzSpan="23" class="comment-info">
                    <div nz-row style="padding-left: 25px;">
                        <span nz-col class="comment-person">
                Digbijay singh -
            </span>
                        <span nz-col class="comment-email">
                Digbijay.singh@neurosensum.com
            </span>
                        <span style="padding-left: 8px;">
                <img src="/assets/images/salesforce-2.svg" height="15px" width="21px">
            </span>
                    </div>
                    <div class="comment">Because it saves a lot of time and is very easy to use.</div>
                    <div class="comment-status">4 Minute ago - Delhi,India - 6 Month Relationship - <span class="detractors-color-orange">Detractors</span></div>
                    <div class="comment-reply"><img src="/assets/images/reply.svg"> <span class="reply-text">Reply</span></div>

                </div>
            </div>
        </div>
        <div class="notification-div">
            <div nz-row style="padding: 15px 15px;">
                <div nz-col nzSpan="1">

                    <div class="comment-count-icon-three comment-icon">
                        3

                    </div>


                </div>
                <div nz-col nzSpan="23" class="comment-info">
                    <div nz-row style="padding-left: 25px;">
                        <span nz-col class="comment-person">
                Digbijay singh -
            </span>
                        <span nz-col class="comment-email">
                Digbijay.singh@neurosensum.com
            </span>
                        <span style="padding-left: 8px;">
                <img src="/assets/images/salesforce-2.svg" height="15px" width="21px">
            </span>
                    </div>
                    <div class="comment">Because it saves a lot of time and is very easy to use.</div>
                    <div class="comment-status">4 Minute ago - Delhi,India - 6 Month Relationship - <span class="detractors-color-orange">Detractors</span></div>
                    <div class="comment-reply"><img src="/assets/images/reply.svg"> <span class="reply-text">Reply</span></div>

                </div>
            </div>
        </div>
    </div>



</div>
